<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../MySource/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../MySource/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../MySource/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../MySource/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../MySource/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../MySource/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../MySource/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../MySource/css/style.css" type="text/css">
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="../MySource/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <!-- <div class="header__cart__price">item: <span>$150.00</span></div> -->
        </div>
        <div class="humberger__menu__widget">
            <!-- <div class="header__top__right__language">
                <img src="../MySource/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div> -->
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Đăng nhập</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Trang chủ</a></li>
                <li><a href="./shop-grid.html">Sản phẩm</a></li>
                <!-- <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li> -->
                <!-- <li><a href="./blog.html">Blog</a></li> -->
                <li><a href="./blog-details.html">Tin tức</a></li>
                <li><a href="./contact.html">Liên hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-phone"></i></a>
            <a href="#"><i class="fa- fa-envelope"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> ttts@gmail.com</li>
                <li>Miễn phí ship cho đơn hàng từ 1 triệu đồng</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> ttts@gmail.com</li>
                                <li>Miễn phí ship cho đơn hàng từ 1 triệu đồng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-phone"></i></a>
                                <a href="#"><i class="fa fa-envelope"></i></a>
                            </div>
                            <!-- <div class="header__top__right__language">
                                <img src="../MySource/img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div> -->
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="../MySource/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Trang chủ</a></li>
                            <li><a href="./products.html">Sản phẩm</a></li>
                            <!-- <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li> -->
                            <!-- <li><a href="./blog.html">Blog</a></li> -->
                            <li><a href="./blog-details.html">Tin tức</a></li>
                            <li><a href="./contact.html">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i> <span>3</span></a></li>
                        </ul>
                        <!-- <div class="header__cart__price">item: <span>$150.00</span></div> -->
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("MenuCate")
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <!-- <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div> -->
                                <input type="text" placeholder="Bạn cần tìm gì?">
                                <button type="submit" class="site-btn">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+84 123456789</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="../MySource/img/hero/banner-2.jpg">
                        <div class="hero__text">
                            <!-- <span>FRUIT FRESH</span> -->
                            <h2>Cực sốc!!! <br />Giảm giá đến 50%</h2>
                            <!-- <p>Free Pickup and Delivery Available</p> -->
                            <a href="#" class="primary-btn">MUA NGAY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../MySource/img/categories/cat1.jpg">
                            <h5><a href="#">Tivi Sony</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../MySource/img/categories/cat2.jpg">
                            <h5><a href="#">Tủ lạnh Panasonic</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../MySource/img/categories/cat3.jpg">
                            <h5><a href="#">Nồi cơm điện</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../MySource/img/categories/cat4.jpg">
                            <h5><a href="#">Robot hút bụi</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../MySource/img/categories/cat5.jpg">
                            <h5><a href="#">Máy nước nóng</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Sản phẩm nổi bật</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Tất cả</li>
                            <li data-filter=".high_up">Cao cấp</li>
                            <li data-filter=".wash_dry">Máy giặt - sấy</li>
                            <li data-filter=".hh_kitchen">Điện gia dụng, đồ bếp</li>
                            <li data-filter=".clean_up">Dọn dẹp</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                @RenderBody()
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="../MySource/img/banner/banner1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="../MySource/img/banner/banner2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Sản phẩm mới nhất</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/latest-product/lp1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Quạt đứng Asia 6 cánh</h6>
                                        <span>690,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/latest-product/lp2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Bếp từ đôi âm Pramie</h6>
                                        <span>6,490,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/latest-product/lp3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Máy nước nóng trực tiếp Ariston</h6>
                                        <span>2,490,000 VNĐ</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/latest-product/lp4.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Máy xay sinh tố Kangaroo</h6>
                                        <span>1,190,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/latest-product/lp5.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Bếp nướng điện Bear</h6>
                                        <span>970,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/latest-product/lp6.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Máy hút mùi áp tường Teka</h6>
                                        <span>16,000,000 VNĐ</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Sản phẩm hàng đầu</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/rated-product/lp1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Samsung Smart TV QLED</h6>
                                        <span>52,680,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/rated-product/lp2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Máy lọc nước RO nóng nguội lạnh</h6>
                                        <span>6,990,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/rated-product/lp3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Casper Inverter</h6>
                                        <span>5,990,000 VNĐ</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/rated-product/lp4.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Sunhouse SHD7759</h6>
                                        <span>3,990,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/rated-product/lp5.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Nồi cơm điện tử áp suất Cuckoo</h6>
                                        <span>6,000,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/rated-product/lp6.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Nồi chiên không dầu Sunhouse</h6>
                                        <span>1,890,000 VNĐ</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Sản phẩm bán chạy</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/best-product/lp1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Toshiba Inverter</h6>
                                        <span>6,790,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/best-product/lp2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Máy rửa chén mini Electrolux</h6>
                                        <span>6,790,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/best-product/lp3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Bàn ủi khô Philips</h6>
                                        <span>290,000 VNĐ</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/best-product/lp4.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Đèn bàn học Điện Quang 5W</h6>
                                        <span>285,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/best-product/lp5.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Máy ép trái cây Philips</h6>
                                        <span>940,000 VNĐ</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="../MySource/img/best-product/lp6.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Nồi lẩu đa năng Happycook</h6>
                                        <span>480,000 VNĐ</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="../MySource/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: TP. Hồ Chí Minh, Việt Nam</li>
                            <li>Điện thoại: +84 123456789</li>
                            <li>Email: ttts@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên kết hữu ích</h6>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <!-- <li><a href="#">Về cửa hàng của chúng tôi</a></li> -->
                            <li><a href="#">Mua sắm an toàn</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Bản đồ</a></li>
                        </ul>
                        <ul>
                            <!-- <li><a href="#">Who We Are</a></li> -->
                            <li><a href="#">Dịch vụ của chúng tôi</a></li>
                            <li><a href="#">Dự án</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <!-- <li><a href="#">Innovation</a></li> -->
                            <li><a href="#">Chứng thực</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Tham gia vào bảng tin của chúng tôi ngay bây giờ?</h6>
                        <p>Nhận thông tin mới nhất về cửa hàng của chúng tôi qua email.</p>
                        <form action="#">
                            <input type="text" placeholder="Email của bạn">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-phone"></i></a>
                            <a href="#"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../MySource/js/jquery-3.3.1.min.js"></script>
    <script src="../MySource/js/bootstrap.min.js"></script>
    <script src="../MySource/js/jquery.nice-select.min.js"></script>
    <script src="../MySource/js/jquery-ui.min.js"></script>
    <script src="../MySource/js/jquery.slicknav.js"></script>
    <script src="../MySource/js/mixitup.min.js"></script>
    <script src="../MySource/js/owl.carousel.min.js"></script>
    <script src="../MySource/js/main.js"></script>
</body>
</html>